.content {
   position: absolute;
   left: 50%;
   transform: translate(-50%,0);

   display: grid;
   grid-template-columns: 5rem;

   width: 80vw;
   height: calc(100vh - 160px);

   background-color: #333;
}