.cards {
   margin-top: 20px;

   width: calc(100% - 40px);
   height: calc(100vh - 275px);

   padding: 25px 20px 20px 20px;

   display: grid;
   grid-template-columns: 260px 260px 260px;
   flex-direction: row;
   gap: 50px;
   justify-content: space-evenly;

   background: url('https://img.icons8.com/isometric-line/70/000000/movies-folder.png');
   background-size: 70px;

   scrollbar-width: none;
}

.card {
   display: flex;
   align-items: center;
   flex-direction: column-reverse;

   background-color: transparent;

   color: white;

   height: 460px;
   width: 100%;
   
   overflow-x: hidden;
   overflow-y: hidden;

   transition: all .3s;
}

.card:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.title,
.year,
.type {
   height: 25px;

   font-weight: 650;
}

.title {
   height: 25px;
}

.poster {
   width: 260px;
   height: 100%;

   border-radius: 15px;
}

.nth-fnd-text {
   /* display: flex;
   justify-content: center;
   align-items: center; */

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   color: white;
   font-weight: 600;

   animation: transition 5s alternate infinite;
}

@keyframes transition {
   0% {
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
