.footer {
   display: flex;
   align-items: center;

   position: absolute;
   bottom: 0;
   left: 0;

   width: 100vw;
   height: 60px;

   background-color: black;
   color: white;

   padding-left: 35px;
}