html,
body,
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  overflow-x: hidden;

  margin: 0;
  padding: 0;
}

body {
  background: url(https://r4.wallpaperflare.com/wallpaper/862/449/162/jack-reacher-star-wars-interstellar-movie-john-wick-wallpaper-68762d68a0501c78502ca10ee8a2148a.jpg);
  background-size: 150%;
}

